:root {
    --pale-violet: hsl(276, 100%, 81%); /*(sub-heading at the top of the app UI)*/
    --moderate-violet: hsl(276, 55%, 52%); /*(chat on the left)*/
    --desaturated-dark-violet: hsl(271, 15%, 43%); /*(chat on the right)*/
    --grayish-blue : hsl(206, 6%, 79%);/*(placeholder text)*/
    --very-dark-desaturated-violet : hsl(271, 36%, 24%); /*(main heading)*/
    --dark-grayish-violet : hsl(270, 7%, 64%); /*(paragraph)*/

    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet : hsl(270, 20%, 96%); /*(app background)*/
    --very-dark-desaturated-violet : hsl(271, 36%, 24%);/*(submit button background)*/
    --very-light-magenta : hsl(289, 100%, 72%); /*(radio button outline)*/
}

* {
    padding: 0px;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-grayish-violet);
}

section {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.phone {
    width: 65%;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
}

.message {
    background-color: var(--light-grayish-violet);
    border-radius: 20px;
    color: white;
}

.background {
    background-image: linear-gradient(to right, var(--light-violet), var(--light-magenta));
    border-radius: 20px 20px 10px 10px;
}

.camera {
    text-align: center;
    background-color: white;
    width: 50%;
    margin: auto;
    height: 20px;
    border-radius: 0 0 15px 15px;
}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.leftPart {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
}

.leftPart img {
    border-radius: 20px;
    border: 2px solid white;
    width: 25px;
}

.description p{
    font-size: 10px;
    color: var(--light-grayish-violet);
}

.threeDots {
    margin-right: 5%;
}

.leftMsg {
    width: 60%;
    font-size: 10px;
    margin-top: 4%;
    margin-left: 2%;
    padding: 3%;
    border-radius: 10px;
    background-color: lightgray;
    color: var(--light-violet);
}

.rightMsg {
    width: 60%;
    font-size: 10px;
    margin-top: 4%;
    margin-right: 2%;
    padding: 3%;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.images {
    margin-top: 4%;
    margin-right: 2%;
}

.images img {
    border-radius: 10px;
    width: 55px;
}

.payment {
    padding: 5%;
    font-size: 10px;
    background-image: linear-gradient(to left, var(--light-violet), var(--light-magenta));
    color: white;
    margin-top: 4%;
    margin-left: 2%;
    width: 65%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment p {
    font-size: 16px;
    font-weight: bolder;
}

.middleSend {
    display: flex;
    justify-content: center;
}

.send {
    background-color: white;
    margin-top: 7%;
    padding: 2%;
    margin-bottom: 3%;
    width: 90%;
    border-radius: 30px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.angleRight {
    background-color: var(--very-dark-desaturated-violet);
    border-radius: 100px;
    width: 9%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8%;
}

.facts h2 {
    font-size: 40px;
}

.facts p {
    width: 80%;
    margin-top: 3%;
    color: var(--dark-grayish-violet);
}

.purple {
    width: 50%;
    height: 120vh;
    background-image: linear-gradient(var(--light-magenta), var(--light-violet));
    position: absolute;
    border-radius: 0 0 1000px 0;
    z-index: -1;
}

.grey {
    width: 50%;
    height: 120vh;
    background-image: rgba(240, 234, 234, 0.582);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1000px 0 0 0;
    z-index: -1;
}

@media only screen and (min-width: 865px) {
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .phone {
        width: 25%;
        padding: .5%;
    }

    .facts {
        width: 35%;
        text-align: left;
        align-items: flex-start;
        margin-left: 10%;
    }

    .purple {
        width: 25%;
        height: 80vh;
        border-radius: 0 0 500px 500px;
    }

    .grey {
        width: 30%;
        height: 80vh;
        border-radius: 0 0 1000px 1000px;
    }
}

